* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

#apresentacao {
    text-align: center;
    margin-bottom: 30px;
}

#titulo h1 {
    font-size: 50px;
    color: #1a73e8;
    margin-bottom: 10px;
    font-family: monospace;    
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    flex-wrap: wrap;
}

#info p {
    margin: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#info img {
    border-radius: 50%;
    transition: transform 0.3s ease;
}

#info img:hover {
    transform: scale(1.1);
}

#texto {
    font-size: 22px;
    text-align: center;
    font-family: monospace;
    margin-bottom: 40px;
}

#inserirCep {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#inserirCep h1 {
    margin: 10px 0;
    margin-left: 190px;
    font-size: 16px;
    font-family: monospace;
}

#inserindo {
    margin-left: 460px;
    margin-top: -35px;
}

#inserirCep input, #inserirCep button {
    padding: 5px;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#inserirCep button {
    background-color: #1a73e8;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#inserirCep button:hover {
    background-color: #125ec5;
}


#exibirEndereco {
    background-color: #ffffff;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#pLogradouro {
    margin: 10px 0;
    font-size: 26px;
    font-family: monospace;
}

#pBairro {
    margin: 10px 0;
    font-size: 26px;
    font-family: monospace;
}

#pCidade {
    margin: 10px 0;
    font-size: 26px;
    font-family: monospace;
}

#logradouro {
    padding: 8px;
    font-size: 14px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#bairro {
    padding: 8px;
    font-size: 14px;
    margin-left: 57px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#municipio {
    padding: 8px;
    font-size: 14px;
    margin-left: 14px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#dvImgExibicao {
    margin-left: 650px;
    margin-top: -150px;
}

#imgExibicao {
    width: 150px;
    margin-left: 100px;
}